* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header {
  background-color: black;
  height: 70px;
  padding: 10px 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#movies {
  background-color: grey;
  height: calc(100vh - 70px);
  padding: 15px;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
}

.flag {
  width: 20px;
  height: 20px;
}
