<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- link fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <!-- Link Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- Link axios -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <title></title>
  </head>
  <body>
    <div id="app">
      <!-- Search tool -->
      <input v-model="search" v-on:keyup.13="searchMovie" placeholder="Type the title of the film">
      <button type="button" name="button" @click="searchMovie">Search</button>
      <!-- Movie features -->
      <ol v-for="(movie, index) in movies">
        <li>{{movie.title}}</li>
        <li>{{movie.original_title}}</li>
        <li>{{movie.original_language}}</li>
        <li><i class="fas fa-star" v-for="vote in Math.ceil(movies[index].vote_average / 2)"></i></li>
      </ol>
    </div>

    <script type="text/javascript" src="js/script.js">

    </script>
  </body>
</html>
