<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- link fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <!-- Link css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Link Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- Link axios -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <title></title>
  </head>
  <body>
    <div id="app">
      <!-- Search tool -->
      <input v-model="search" v-on:keyup.13="searchMovie" placeholder="Type the title of the film">
      <button type="button" name="button" @click="searchMovie">Search</button>
      <!-- Movie features -->
      <ol v-for="(movie, index) in movies">
        <li v-if="movie.media_type === 'movie'">{{movie.title}}</li>
        <li v-else>{{movie.name}}</li>

        <li v-if="movie.media_type === 'movie'">{{movie.original_title}}</li>
        <li v-else>{{movie.original_name}}</li>
        <li>{{movie.media_type}}</li>
        <li>
          <img :src="'img/' + movie.original_language + '.svg'" alt="">
          {{movie.original_language}}
        </li>
        <!-- Stars -->
        <li>
          <i class="fas fa-star" v-for="vote in Math.ceil(movie.vote_average / 2)"></i>
          <i class="far fa-star" v-for="vote in 5 - (Math.ceil(movie.vote_average / 2))"></i>
        </li>
      </ol>
    </div>

    <script type="text/javascript" src="js/script.js">

    </script>
  </body>
</html>
