<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- Link Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- Link axios -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <title></title>
  </head>
  <body>
    <div id="app">
      <!-- Search tool -->
      <input v-model="search" placeholder="Type the title of the film">
      <button type="button" name="button" @click="searchMovie">Search</button>
      <!-- Movie features -->
      <ol v-for="(movie, index) in movies">
        <li>{{movie.title}}</li>
        <li>{{movie.original_title}}</li>
        <li>{{movie.original_language}}</li>
        <li>{{movie.vote_average}}</li>
      </ol>
    </div>

    <script type="text/javascript" src="js/script.js">

    </script>
  </body>
</html>
